.person-card {
  background: rgb(241, 241, 241);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.person-card:hover {
  transform: translateY(-5px);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 5px 10px;
  background: #819e81;

  h3 {
    flex: 1;
    margin: 0;
  }

  .edit-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.card-body {
  padding: 10px;
}

.card-body h3 {
  color: #333;
}
