<nav class="navbar">
  <div class="navbar-left">
    <!-- Icon on the left-->
    <i class="material-symbols-outlined">home</i>
    <!-- View toggle -->
    <mat-button-toggle-group
      *ngIf="isAuthenticated"
      [value]="currentViewMode"
      (change)="onViewModeChange($event.value)"
      class="view-toggle"
    >
      <mat-button-toggle value="grid">
        <i class="material-symbols-outlined">grid_view</i>
        Grid
      </mat-button-toggle>
      <mat-button-toggle value="graph">
        <i class="material-symbols-outlined">account_tree</i>
        Graph
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="navbar-middle">
    <!-- Create button -->
    <button class="create-button" (click)="openModal()" *ngIf="isAuthenticated">
      Create
    </button>
  </div>
  <div class="navbar-right">
    <ng-container *ngIf="isAuthenticated">
      <!-- User info -->
      <div class="user-info" *ngIf="currentUser" (click)="openAccountEdit()">
        <i class="material-symbols-outlined">account_circle</i>
        <span class="username">{{ currentUser.username }}</span>
      </div>
      <!-- Logout button-->
      <button class="logout-button" (click)="logout()">
        <i class="material-symbols-outlined">logout</i>
        Logout
      </button>
    </ng-container>
  </div>
</nav>
