<nav class="navbar">
  <div class="navbar-left">
    <i class="material-symbols-outlined">home</i>
  </div>
  <div class="navbar-middle">
    <button class="create-button" (click)="openModal()">Create</button>
  </div>
  <div class="navbar-right">
    <div class="settings">
      <i class="material-symbols-outlined">settings</i>
    </div>
    <div class="user-account" *ngIf="currentUser">
      <span class="username">{{ currentUser.username }}</span>
      <i class="material-symbols-outlined">person</i>
      <button class="logout-btn" (click)="logout()">Logout</button>
    </div>
    <div class="auth-buttons" *ngIf="!currentUser">
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </div>
  </div>
}</nav>