<nav class="navbar">
    <div class="navbar-left">
        <!-- Icon on the left-->
        <i class="material-symbols-outlined">home</i>
    </div>
    <div class="navbar-middle">
        <!-- Create button -->
        <button class="create-button" (click)="openModal()">Create</button>
    </div>
    <div class="navbar-right">
        <!-- Settings option-->
        <div class="settings">
            <i class="material-symbols-outlined">settings</i>
        </div>
        <!-- User account options-->
        <div class="user-account">
            <i class="material-symbols-outlined">person</i>
        </div>
    </div>
</nav>
